body {
  font-family: sans-serif;
}

p{
  margin: 0;
}

.input-area , .incomplete-area , .complete-area{
  width: 400px;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
}

.input-area{
  background-color: rgb(123, 223, 226);  
  height: 30px;
}

.incomplete-area{
  background-color: #f6facf;
  min-width: 200px;
}

.complete-area{
  background-color: #f1dec8;
  min-width: 200px;
}

input{
  border-radius: 16px;
  padding: 4px 8px;
  border: none;
  font-size: 14px;
  outline: none;
}

input:focus{
  outline: 1px solid #121212;
}

button{
  border-radius: 16px;
  padding: 4px 16px;
  border: none;
  font-size: 14px;
}

button:hover{
  background-color: rgb(158, 212, 243);
  color: white;
  cursor:pointer;
}

.delete:hover{
  background-color: pink;
  color: white;
  cursor:pointer;
}

.back:hover{
  background-color: rgb(247, 247, 181);
  color: #333;
  cursor:pointer;
}

.ttl{
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

ul{
  padding-left: 0;
}



.list-row{
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.list-row p{
    width: 200px;
  }

.list-row + .list-row{
  margin-top: 16px;
}